/* COLORS */
/* FONTS */
/* SCREEN SIZE */
/* OTHER */
/* CODE */
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0; }

.c-btn-primary {
  background-color: transparent;
  border: 2px solid #038000;
  color: #038000;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem 2rem 0.1rem 2rem;
  cursor: pointer; }

.c-btn-primary:active {
  outline: none; }

.c-btn-primary:focus {
  outline: none; }

.c-btn-primary:hover {
  outline: none;
  background-color: #038000;
  color: #ffffff; }

.c-header_btn {
  border: none;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 0.7rem;
  cursor: pointer; }

.c-header_btn:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.c-btn-articles {
  padding: 0.3rem 0.4rem 0.1rem 0.4rem; }

.c-header {
  background-image: url("../img/header-img.png");
  background-color: #69878c;
  background-size: auto 100%;
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: row; }

/* --- LIFE SCIENCES --- */
.c-header_main {
  box-sizing: border-box;
  width: 40%;
  padding: 5rem; }

.c-header-main_heading {
  margin: 0;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  font-size: 2.5rem; }

.c-header-main_subheading {
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 1rem 0; }

.c-header-main_logos {
  display: flex;
  flex-direction: row; }

.c-header-main_logo {
  height: 2.7rem;
  width: auto;
  margin: 4rem 2rem 0 0; }

/* --- O PROJEKTU --- */
.c-header_about {
  box-sizing: border-box;
  background-color: #038000;
  width: 60%;
  border-radius: 20% 0 0 20% / 50% 0 0 50%;
  padding: 2rem 5rem 5rem 6rem; }

.c-header-about_heading {
  margin: 0;
  font-size: 1.2rem; }

.c-header-about_text {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 0.7rem; }

.c-nav {
  padding: 0;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #919191;
  border-radius: 10px;
  width: 45rem;
  position: relative;
  top: -1.7rem; }

.c-nav_ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.c-nav_li {
  list-style-type: none;
  padding: 1rem 0; }

.c-nav-li_a {
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  width: 100%;
  padding: 1rem 2rem; }

.c-nav-li_a:hover {
  background-color: rgba(3, 128, 0, 0.2); }

.c-content_section {
  border-bottom: 1px solid #ececec;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0 4.5rem 0; }

#s-projekty {
  padding-top: 0.7rem; }

#s-akce {
  padding-bottom: 3rem; }

#s-clanky {
  padding-bottom: 3rem; }

.c-content_heading {
  border: 1px solid #ececec;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 0.1rem 2rem;
  margin: 0;
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -3rem; }

.c-content_heading-first {
  padding: 0 3rem 0.5rem 3rem;
  margin: 0;
  display: inline-block;
  font-size: 1.2rem; }

.c-content-heading_another {
  padding: 0.1rem 2rem 2rem 2rem;
  margin: 0;
  display: inline-block;
  font-size: 1.2rem; }

.c-content-heading-another_clanky {
  padding: 1.5rem 0 3rem 0; }

.c-content-heading-another_podporovano {
  padding-bottom: 3rem; }

.c-content_subheading {
  margin: 0;
  padding: 0; }

.c-content_gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: auto; }

.c-content_size {
  max-width: 55rem;
  margin: auto; }

.c-section-projekty_boxes {
  max-width: 57rem;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;*/
  margin: 0 auto;
  padding-top: 0.5rem;
  column-count: 3;
  column-gap: 2.5rem; }

.c-section-projekty_box {
  box-shadow: 0 0 15px 0 #919191;
  width: 100%;
  display: inline-block;
  margin: 1rem 0 1.5rem 0;
  padding: 0; }

.c-section-projekty_heading {
  box-sizing: border-box;
  width: 100%;
  height: 8rem;
  text-transform: uppercase;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-image: url("../img/articles/img-article3.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center; }

.c-section-projekty_text {
  padding: 1rem 2rem; }

.c-section_nabizime button {
  margin-top: 2rem; }

.c-section-nabizime_boxes {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center; }

.c-section-nabizime_box {
  box-shadow: 0 0 15px 0 #919191;
  background-color: #ffffff;
  max-width: 30rem;
  margin: 2rem; }

.c-section-nabizime-box_heading {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center;
  padding: 4rem 4rem; }

.c-section-nabizime-box_heading1 {
  background-image: url("../img/articles/img-wire.png"); }

.c-section-nabizime-box_heading2 {
  background-image: url("../img/articles/img-wire2.png"); }

.c-section-nabizime-box_heading-heading {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400; }

.c-section-nabizime-box_img {
  margin-bottom: 1rem; }

.c-section-nabizime-box_text {
  padding: 2rem 3rem;
  margin: 0; }

.c-content-section_akce {
  background-color: #000000;
  color: #ffffff; }
  .c-content-section_akce button {
    margin-top: 2rem; }

.c-section-akce_heading {
  color: #ffffff; }

.c-section-akce_subheading {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.c-section-akce_box {
  background-color: #060606;
  border-radius: 0.3rem;
  border: 1px solid #363636;
  margin-top: 2.5rem;
  padding: 1rem 2rem 2rem 2rem; }

.c-section-clanky_articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 83rem;
  margin: 0 auto; }

.c-section-clanky_article {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 55rem;
  margin: 0 1.8rem; }

.c-section-clanky-article_heading {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto 0 0;
  padding: 0.2rem 0.6rem;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  position: relative;
  top: 1rem;
  left: -0.4rem; }

.c-section-clanky-article_text {
  border: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  background-color: #F9F9F9;
  margin-bottom: 4rem; }

.c-section-clanky-article-text_text {
  padding: 1rem;
  margin: 0; }

.c-section-clanky-article-text_link {
  color: #000000;
  text-decoration: underline;
  font-weight: bold; }

.c-section-podporovano_logos {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 82rem; }

.c-section-podporovano_logo {
  max-width: 13rem;
  margin: 0.8rem; }

.c-section_kontakty {
  background-color: #038000;
  color: #ffffff; }

.c-section-kontakty_heading {
  color: #ffffff; }

.c-section-kontakty_contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.c-section-kontakty_contact {
  background-color: #026400;
  display: flex;
  flex-direction: column;
  margin: 1rem; }
  .c-section-kontakty_contact a {
    color: #ffffff;
    text-decoration: none; }
  .c-section-kontakty_contact a:hover {
    text-decoration: underline; }

.c-section-kontakty-contact_name {
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0.8rem 2rem 1rem 2rem;
  border-bottom: 1px solid #038000;
  display: flex;
  flex-direction: row;
  align-items: center; }

.c-section-kontakty-contact-name_logo {
  width: 2rem;
  height: auto;
  padding-right: 1rem; }

.c-section-kontakty-contact_mail {
  padding: 0 2rem 1rem 2rem;
  color: #d9e8d9 !important; }

.c-section-kontakty-contact_tel {
  padding: 1rem 2rem 0 2rem;
  color: #d9e8d9 !important;
  line-height: 2.5; }

/*# sourceMappingURL=main.css.map */
