/* COLORS */
/* FONTS */
/* SCREEN SIZE */
/* OTHER */
/* CODE */
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0; }

.c-btn-primary {
  background-color: transparent;
  border: 2px solid #038000;
  color: #038000;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  cursor: pointer; }

.c-btn-primary:active {
  outline: none; }

.c-btn-primary:focus {
  outline: none; }

.c-btn-primary:hover {
  outline: none; }

.c-header {
  background-image: url("../img/header-img.png");
  background-color: #69878c;
  background-size: auto 100%;
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: row; }

/* --- LIFE SCIENCES --- */
.c-header_main {
  box-sizing: border-box;
  width: 40%;
  padding: 5rem; }

.c-header-main_heading {
  margin: 0;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  font-size: 2.5rem; }

.c-header-main_subheading {
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 1rem 0; }

.c-header-main_logos {
  display: flex;
  flex-direction: row; }

.c-header-main_logo {
  height: 2.7rem;
  width: auto;
  margin: 4rem 2rem 0 0; }

/* --- O PROJEKTU --- */
.c-header_about {
  box-sizing: border-box;
  background-color: #038000;
  width: 60%;
  border-radius: 20% 0 0 20% / 50% 0 0 50%;
  padding: 5rem 5rem 5rem 6rem; }

.c-header-about_heading {
  margin: 0;
  font-size: 1.2rem; }

.c-header-about_text {
  text-align: justify;
  font-size: 0.8rem; }

.c-nav {
  padding: 0;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #919191;
  border-radius: 10px;
  width: 50rem;
  position: relative;
  top: -1.7rem; }

.c-nav_ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.c-nav_li {
  list-style-type: none;
  padding: 1rem 0; }

.c-nav-li_a {
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  width: 100%;
  padding: 1rem 0; }

.c-content_section {
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
  padding: 3rem 0 7rem 0; }

.c-content_heading {
  border: 1px solid gray;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 0.5rem 3rem;
  margin: 0;
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -4.5rem; }

.c-content_subheading {
  margin: 0;
  padding: 0; }

.c-content_gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: auto; }

.c-content_size {
  max-width: 55rem;
  margin: auto; }

.c-section_nabizime button {
  margin-top: 2rem; }

.c-section-nabizime_boxes {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center; }

.c-section-nabizime_box {
  box-shadow: 0 0 15px 0 #919191;
  background-color: #ffffff;
  max-width: 30rem;
  margin: 2rem; }

.c-section-nabizime-box_heading {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center;
  padding: 4rem 4rem; }

.c-section-nabizime-box_heading1 {
  background-image: url("../img/articles/img-wire.png"); }

.c-section-nabizime-box_heading2 {
  background-image: url("../img/articles/img-wire2.png"); }

.c-section-nabizime-box_heading-heading {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400; }

.c-section-nabizime-box_img {
  margin-bottom: 1rem; }

.c-section-nabizime-box_text {
  padding: 2rem 3rem;
  margin: 0; }

.c-content-section_akce {
  background-color: #000000;
  color: #ffffff; }
  .c-content-section_akce button {
    margin-top: 2rem; }

.c-section-akce_heading {
  color: #000000; }

.c-section-akce_subheading {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.c-section-clanky_article {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 55rem;
  margin: 0 auto 2rem auto; }

.c-section-clanky-article_heading {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto 0 0;
  padding: 0.2rem 1rem;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500; }

.c-section-clanky-article_text {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  background-color: #F9F9F9; }

.c-section-clanky-article-text_text {
  padding: 1rem;
  margin: 0; }

.c-section-podporovano_logos {
  box-sizing: border-box;
  max-width: 58rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: space-between; }

.c-section-podporovano_logo {
  max-height: 3rem;
  max-width: 10rem;
  margin: 1.5rem; }

/*# sourceMappingURL=main.css.map */
