/* COLORS */
/* FONTS */
@font-face {
  font-family: c-Titilium-regular;
  src: url("../font/Titillium_Web/TitilliumWeb-Regular.ttf"); }
@font-face {
  font-family: c-Titilium-semibold;
  src: url("../font/Titillium_Web/TitilliumWeb-SemiBold.ttf"); }
@font-face {
  font-family: c-Titilium-bold;
  src: url("../font/Titillium_Web/TitilliumWeb-Bold.ttf"); }
@font-face {
  font-family: c-Titilium-light;
  src: url("../font/Titillium_Web/TitilliumWeb-Light.ttf"); }
/*$font-primary: "Titillium Web", sans-serif;
$font-primary-semibold: "Titillium Web Semibold", sans-serif;
$font-primary-bold: "Titillium Web Bold", sans-serif;
$font-primary-thin: "Titillium Web Light", sans-serif;*/
/* SCREEN SIZE */
/* OTHER */
/* CODE */
body {
  font-family: "c-Titilium-regular", sans-serif;
  margin: 0;
  padding: 0; }

.c-btn-primary {
  background-color: transparent;
  border: 2px solid #038000;
  color: #038000;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem; }
  @media (max-width: 650px) {
    .c-btn-primary {
      padding: 0.3rem 1.8rem;
      margin: 1rem 0 3rem 0;
      line-height: initial; } }
  @media (min-width: 651px) {
    .c-btn-primary {
      padding: 0.3rem 1.8rem 0.1rem 1.8rem; } }

.c-btn-primary:active {
  outline: none; }

.c-btn-primary:focus {
  outline: none; }

.c-btn-primary:hover {
  outline: none;
  background-color: #038000;
  color: #ffffff; }

.c-header_btn {
  border: none;
  background-color: #000000;
  color: #ffffff;
  padding: 0.4rem 0.6rem 0.3rem 0.6rem;
  cursor: pointer; }

.c-header_btn:hover {
  background-color: rgba(0, 0, 0, 0.5); }

@media (max-width: 650px) {
  .c-btn-articles {
    padding: 0.3rem 0.4rem; } }
@media (min-width: 651px) {
  .c-btn-articles {
    margin-top: -0.2rem;
    margin-bottom: 0.4rem;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem; } }

.c-btn-article-hdr {
  background-color: #fdab29;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem; }

.c-header {
  background-image: url("../img/header-img.png");
  background-color: #69878c;
  color: #ffffff;
  display: flex;
  margin: 0; }
  @media (max-width: 1199px) {
    .c-header {
      flex-direction: column;
      background-size: 60rem;
      background-position: center top;
      background-repeat: no-repeat; } }
  @media (min-width: 1200px) {
    .c-header {
      flex-direction: row;
      justify-content: space-between;
      background-size: cover;
      background-position: center;
      padding: 0; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    .c-header {
      background-size: 80rem; } }
  @media (max-width: 370px) {
    .c-header {
      background-size: 90rem; } }
  @media (max-width: 280px) {
    .c-header {
      background-size: 100rem; } }
  @media (max-width: 259px) {
    .c-header {
      background-size: 110rem; } }

/* --- LIFE SCIENCES --- */
.c-header_main {
  box-sizing: border-box; }
  @media (max-width: 1199px) {
    .c-header_main {
      text-align: center;
      margin: 2rem 1rem; } }
  @media (min-width: 1200px) {
    .c-header_main {
      width: auto;
      padding: 6.6rem 0 5rem 10.3rem; } }

.c-header-main_heading {
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500; }
  @media (max-width: 1199px) {
    .c-header-main_heading {
      font-size: 3rem;
      margin: 0; } }
  @media (min-width: 1200px) {
    .c-header-main_heading {
      margin: 0 0 -0.5rem 0;
      font-size: 3rem; } }

.c-header-main_subheading {
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  margin: 0 0 1.2rem 0; }
  @media (max-width: 1199px) {
    .c-header-main_subheading {
      font-size: 1.8rem; } }
  @media (min-width: 1200px) {
    .c-header-main_subheading {
      font-size: 1.8rem; } }

@media (min-width: 1200px) {
  .c-header-main_logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.1rem; } }

@media (max-width: 1199px) {
  .c-header-main_logo {
    margin: 1.2rem; } }
@media (min-width: 1200px) {
  .c-header-main_logo {
    margin: 4rem 2rem 0 0; } }

.c-header-main_logo-KIT {
  height: 3rem;
  width: auto; }

.c-header-main_logo-CZU {
  height: 3.5rem;
  width: auto; }

/* --- O PROJEKTU --- */
.c-header_about {
  box-sizing: border-box;
  background-color: #038000; }
  @media (max-width: 1199px) {
    .c-header_about {
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .c-header_about {
      padding: 4.55rem 5rem 3.1rem 5rem;
      width: 53.5rem;
      border-radius: 25% 0 0 25%/100% 0 0 100%; } }
  @media (min-width: 1200px) and (max-width: 1450px) {
    .c-header_about {
      max-width: 50%; } }
  @media (min-width: 801px) and (max-width: 1199px) {
    .c-header_about {
      padding-bottom: 5rem; } }

.c-header-about_heading {
  margin: 0;
  font-size: 1.3rem;
  font-family: "c-Titilium-bold", sans-serif; }

.c-header-about_text {
  line-height: 1.6; }
  @media (max-width: 1199px) {
    .c-header-about_text {
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .c-header-about_text {
      text-align: left;
      font-size: 1rem;
      margin-top: 0.7rem; } }

.c-header_link {
  color: #ffffff; }

.c-header_link:hover {
  color: rgba(255, 255, 255, 0.5); }

.c-nav {
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 #dddddd;
  padding: 0; }
  @media (max-width: 650px) {
    .c-nav {
      box-sizing: border-box;
      width: 100%;
      margin: 0; } }
  @media (min-width: 801px) {
    .c-nav {
      border-radius: 10px;
      margin: auto;
      width: 45rem;
      position: relative;
      top: -1.7rem; } }
  @media (min-width: 651px) and (max-width: 800px) {
    .c-nav {
      width: 100%; } }

.c-nav_ul {
  margin: 0;
  padding: 0; }
  @media (max-width: 650px) {
    .c-nav_ul {
      flex-direction: column;
      text-align: center; } }
  @media (min-width: 651px) {
    .c-nav_ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }

.c-nav_li {
  list-style-type: none; }
  @media (max-width: 650px) {
    .c-nav_li {
      width: 100%; } }
  @media (min-width: 651px) {
    .c-nav_li {
      padding: 1.2rem 0; } }

.c-nav-li_a {
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  width: 100%; }
  @media (max-width: 650px) {
    .c-nav-li_a {
      padding: 1rem;
      margin: 0;
      display: inline-block; } }
  @media (min-width: 651px) {
    .c-nav-li_a {
      padding: 1.2rem 2rem;
      font-size: 1.05rem; } }

.c-nav-li_a:hover {
  background-color: rgba(3, 128, 0, 0.2); }

.c-content_section {
  border-bottom: 1px solid #ececec;
  text-align: center; }
  @media (max-width: 650px) {
    .c-content_section {
      padding: 2rem 0.7rem 4rem 0.7rem; } }
  @media (min-width: 651px) {
    .c-content_section {
      width: 100%;
      padding: 1.5rem 0 4.5rem 0; } }

@media (min-width: 651px) {
  #s-projekty {
    padding-top: 0.7rem; } }

@media (min-width: 651px) {
  #s-akce {
    padding-bottom: 3rem; } }

@media (min-width: 651px) {
  #s-clanky {
    padding-bottom: 3rem; } }

.c-link {
  color: #000000;
  text-decoration: underline;
  font-weight: bold; }

.c-link:hover {
  color: rgba(0, 0, 0, 0.5); }

.c-soon {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: default; }

/* --- HEADINGS --- */
.c-heading_round-border {
  border: 1px solid #ececec;
  background-color: #ffffff;
  font-family: "c-Titilium-bold", sans-serif;
  border-radius: 50px;
  padding: 0 2rem;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  margin: 0;
  top: -2.7rem; }

@media (max-width: 650px) {
  .c-section_round-heading {
    padding: 1.5rem 0.7rem; } }

.c-heading {
  font-size: 1.4rem;
  font-family: "c-Titilium-bold", sans-serif; }
  @media (max-width: 650px) {
    .c-heading {
      margin-bottom: 2rem; } }
  @media (min-width: 651px) {
    .c-heading {
      padding: 0.1rem 2rem 2rem 2rem;
      margin: 0;
      display: inline-block; } }

.c-heading-light {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: "c-Titilium-light", sans-serif; }
  @media (max-width: 650px) {
    .c-heading-light {
      margin-bottom: 2rem; } }
  @media (min-width: 651px) {
    .c-heading-light {
      padding: 0.1rem 2rem 2rem 2rem;
      margin: 0;
      display: inline-block; } }

@media (min-width: 651px) {
  .c-heading-first {
    padding: 0 3rem 0.5rem 3rem;
    margin: 0.5rem 0 0 0; } }

@media (min-width: 651px) {
  .c-heading_clanky {
    padding: 1.5rem 0 3rem 0; } }

@media (min-width: 651px) {
  .c-heading_podporovano {
    margin: -0.3rem 0 0.4rem 0; } }

/*.c-content_heading{
  border: 1px solid $color-border-line;
  background-color: $color-white;
  border-radius: 50px;
  padding: 0 2rem;
  display: inline-block;
  position: relative;
  top: -2.7rem;
  font-size: 1.4rem;
  @media (max-width: $mobile){  //mobile
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    margin: 0;
  }
}*/
@media (max-width: 650px) {
  .c-projekty_boxes {
    box-sizing: border-box;
    width: 100%; } }
@media (min-width: 651px) {
  .c-projekty_boxes {
    max-width: 67rem;
    margin: 0 auto;
    padding-top: 0.5rem;
    column-count: 3;
    column-gap: 2.5rem;
    text-align: center; } }
@media (min-width: 651px) and (max-width: 1200px) {
  .c-projekty_boxes {
    column-count: 2;
    column-gap: 2.5rem;
    margin: 0 2.5rem; } }

.c-projekty_box {
  box-shadow: 0 0 15px 0 #bababa; }
  @media (max-width: 650px) {
    .c-projekty_box {
      width: 100%;
      margin: 2rem 0; } }
  @media (min-width: 651px) {
    .c-projekty_box {
      width: 100%;
      display: inline-block;
      margin: 1rem 0 1.5rem 0;
      padding: 0;
      text-align: center; } }

.c-projekty_heading {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem;
  width: 100%; }

.c-projekty_heading-1 {
  background-image: url("../img/articles/art1.png"); }

.c-projekty_heading-2 {
  background-image: url("../img/articles/art2.png"); }

.c-projekty_heading-3 {
  background-image: url("../img/articles/art3.png"); }

.c-projekty_heading-4 {
  background-image: url("../img/articles/art4.png"); }

.c-projekty_heading-5 {
  background-image: url("../img/articles/art5.png"); }

.c-projekty_heading-6 {
  background-image: url("../img/articles/art6.png"); }

.c-projekty_heading-7 {
  background-image: url("../img/articles/art7.png"); }

.c-projekty_text {
  line-height: 1.5; }
  @media (max-width: 650px) {
    .c-projekty_text {
      padding: 1rem;
      margin: 0; } }
  @media (min-width: 651px) {
    .c-projekty_text {
      padding: 1rem 2rem; } }

@media (min-width: 651px) {
  .c-nabizime button {
    margin-top: 2rem; } }

.c-nabizime_boxes {
  box-sizing: border-box;
  width: 100%;
  display: flex; }
  @media (max-width: 650px) {
    .c-nabizime_boxes {
      flex-direction: column; } }
  @media (min-width: 651px) {
    .c-nabizime_boxes {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center; } }

.c-nabizime_box {
  box-shadow: 0 0 15px 0 #bababa;
  background-color: #ffffff; }
  @media (max-width: 650px) {
    .c-nabizime_box {
      margin: 0 0 2rem 0; } }
  @media (min-width: 651px) {
    .c-nabizime_box {
      margin: 2rem 2rem 2.5rem 2rem;
      max-width: 27rem; } }

.c-nabizime-box_heading {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 12.5rem; }
  @media (max-width: 650px) {
    .c-nabizime-box_heading {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 651px) {
    .c-nabizime-box_heading {
      display: inline-block;
      padding: 4rem; } }

.c-nabizime-box_heading1 {
  background-image: url("../img/articles/img-wire.png"); }

.c-nabizime-box_heading2 {
  background-image: url("../img/articles/img-wire2.png"); }

@media (min-width: 651px) {
  .c-nabizime-box_img {
    margin-bottom: 0.5rem;
    height: 3rem; } }

.c-nabizime-box-heading_text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400; }
  @media (max-width: 650px) {
    .c-nabizime-box-heading_text {
      margin: 1rem 0 0 0; } }
  @media (min-width: 651px) {
    .c-nabizime-box-heading_text {
      margin: 0;
      padding: 0; } }

.c-nabizime-box_text {
  margin: 0; }
  @media (max-width: 650px) {
    .c-nabizime-box_text {
      padding: 1rem; } }
  @media (min-width: 651px) {
    .c-nabizime-box_text {
      padding: 1.5rem 3rem; } }

.c-akce {
  background-color: #000000;
  color: #ffffff; }
  @media (min-width: 651px) {
    .c-akce button {
      margin-top: 1.9rem;
      margin-bottom: 0; } }

.c-akce_box {
  background-color: #060606;
  border-radius: 0.3rem;
  border: 1px solid #363636; }
  @media (max-width: 860px) {
    .c-akce_box {
      padding: 1rem; } }
  @media (min-width: 861px) {
    .c-akce_box {
      max-width: 48rem;
      padding: 1rem 1.3rem 2rem 1.3rem;
      margin: 0.8rem auto 0 auto; } }

.c-akce-box_subheading {
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
  @media (max-width: 860px) {
    .c-akce-box_subheading {
      margin: 0 0 1rem 0; } }

.c-akce-box_text {
  font-size: 0.9rem;
  line-height: 1.8; }
  @media (max-width: 860px) {
    .c-akce-box_text {
      margin: 0 0 2rem 0; } }
  @media (min-width: 861px) {
    .c-akce-box_text {
      margin-top: 0.10rem;
      margin-bottom: 1.7rem; } }

.c-akce-box_gallery {
  display: flex; }
  @media (max-width: 860px) {
    .c-akce-box_gallery {
      width: 100%;
      flex-wrap: wrap;
      margin: 0 0 1rem 0;
      flex-direction: row;
      justify-content: center; }
      .c-akce-box_gallery img {
        max-width: calc(50% - (1rem/2));
        height: auto;
        margin: 0 0 1rem 0;
        padding: 0 0.5rem; } }
  @media (max-width: 620px) {
    .c-akce-box_gallery {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .c-akce-box_gallery img {
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 0; } }
  @media (min-width: 861px) {
    .c-akce-box_gallery {
      width: 45rem;
      margin: auto;
      flex-direction: row;
      justify-content: space-between; }
      .c-akce-box_gallery img {
        width: 13rem;
        height: auto; } }

.c-clanky_articles {
  display: flex; }
  @media (max-width: 650px) {
    .c-clanky_articles {
      flex-direction: column;
      width: 100%; } }
  @media (min-width: 651px) {
    .c-clanky_articles {
      width: 83rem;
      flex-direction: row;
      justify-content: center;
      margin: 1rem auto 0 auto; } }
  @media (min-width: 651px) and (max-width: 1330px) {
    .c-clanky_articles {
      flex-direction: column;
      width: auto; } }

.c-clanky_article {
  display: flex;
  flex-direction: column; }
  @media (max-width: 650px) {
    .c-clanky_article {
      margin: 0 0 2rem 0; } }
  @media (min-width: 651px) {
    .c-clanky_article {
      max-width: 65rem;
      text-align: left;
      margin: 0 1.4rem; } }
  @media (min-width: 651px) and (max-width: 1330px) {
    .c-clanky_article {
      margin: auto; } }

.c-clanky-article_heading {
  background-color: #000000;
  color: #ffffff;
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  font-size: 0.75rem; }
  @media (max-width: 650px) {
    .c-clanky-article_heading {
      padding: 0;
      margin: 0; } }
  @media (min-width: 1321px) {
    .c-clanky-article_heading {
      margin: 0 auto 0 0;
      padding: 0.3rem 0.6rem;
      position: relative;
      top: 1rem;
      left: -0.4rem; } }
  @media (min-width: 651px) and (max-width: 1320px) {
    .c-clanky-article_heading {
      margin: 0 auto 0 0;
      padding: 0.3rem 0.6rem;
      position: relative;
      top: 1rem;
      left: -0.4rem; } }

.c-clanky-article_content {
  border: 1px solid #ececec;
  background-color: #F9F9F9; }
  @media (max-width: 650px) {
    .c-clanky-article_content {
      padding: 0;
      margin: 0;
      border: none; } }
  @media (min-width: 651px) {
    .c-clanky-article_content {
      display: flex;
      flex-direction: row;
      width: 29.5rem;
      margin-bottom: 4rem; } }

@media (max-width: 650px) {
  .c-clanky-article_img-container {
    height: 8rem;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0; } }

@media (max-width: 650px) {
  .c-clanky-article_img {
    width: 100%;
    height: 8rem;
    object-fit: cover; } }
@media (min-width: 651px) {
  .c-clanky-article_img {
    height: 8.5rem; } }

@media (max-width: 650px) {
  .c-clanky-article-content-text_container {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ececec;
    border-top: none;
    padding-bottom: 1rem; } }

.c-clanky-article-content_text {
  line-height: 1.39;
  font-size: 0.8rem; }
  @media (max-width: 650px) {
    .c-clanky-article-content_text {
      padding: 1rem 1rem 0 1rem;
      margin: 0;
      box-sizing: border-box;
      width: 100%; } }
  @media (min-width: 651px) {
    .c-clanky-article-content_text {
      padding: 1.1rem 1rem 0 1rem;
      margin: 0; } }

.c-clanky-article-text_link {
  color: #000000;
  text-decoration: underline;
  font-weight: bold; }

.c-podporovano_logos {
  box-sizing: border-box;
  display: flex; }
  @media (max-width: 650px) {
    .c-podporovano_logos {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 1321px) {
    .c-podporovano_logos {
      flex-wrap: wrap;
      align-items: center;
      margin: 0 auto -1rem auto;
      justify-content: center;
      flex-direction: row;
      width: 82rem; } }
  @media (min-width: 651px) and (max-width: 1320px) {
    .c-podporovano_logos {
      flex-wrap: wrap;
      align-items: center;
      margin: 0 1rem -1rem 1rem;
      justify-content: center;
      flex-direction: row;
      width: auto; } }

@media (max-width: 650px) {
  .c-podporovano_logo {
    box-sizing: border-box;
    max-width: calc(100% - 4rem);
    max-height: 7rem;
    margin: 1rem 2rem; } }
@media (min-width: 651px) {
  .c-podporovano_logo {
    max-height: 4rem;
    max-width: 11rem;
    margin: 1rem; } }

.c-podporovano_logo-link {
  text-decoration: none; }

.c-kontakty {
  background-color: #038000;
  color: #ffffff; }

.c-kontakty_heading {
  color: #ffffff; }
  @media (min-width: 651px) {
    .c-kontakty_heading {
      margin: 0.1rem 0 0.5rem 0; } }

.c-kontakty_contacts {
  width: 100%;
  display: flex; }
  @media (max-width: 650px) {
    .c-kontakty_contacts {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 651px) {
    .c-kontakty_contacts {
      justify-content: center;
      flex-direction: row; } }

.c-kontakty_contact {
  background-color: #026400;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column; }
  .c-kontakty_contact a {
    color: #ffffff;
    text-decoration: none; }
  .c-kontakty_contact a:hover {
    text-decoration: underline; }
  @media (max-width: 650px) {
    .c-kontakty_contact {
      margin: 0 0 2rem 0;
      width: 12rem; } }
  @media (min-width: 651px) {
    .c-kontakty_contact {
      margin: 1rem 2.4rem 1rem 2.4rem; } }
  @media (max-width: 800px) {
    .c-kontakty_contact {
      margin: 1rem 0.8rem; } }
  @media (max-width: 260px) {
    .c-kontakty_contact {
      width: 100%; } }

.c-kontakty-contact_position {
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #038000;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0; }
  @media (max-width: 650px) {
    .c-kontakty-contact_position {
      justify-content: center;
      padding: 0.7rem 0; } }
  @media (min-width: 651px) {
    .c-kontakty-contact_position {
      padding: 0.9rem 1.8rem 0.7rem 1.8rem; } }

.c-kontakty-contact-name_logo {
  width: 1.7rem;
  height: auto; }
  @media (max-width: 650px) {
    .c-kontakty-contact-name_logo {
      padding: 0 0.5rem 0 0; } }
  @media (min-width: 651px) {
    .c-kontakty-contact-name_logo {
      margin: 0;
      padding: 0 1rem 0 0; } }

.c-kontakty-contact_name {
  color: #d9e8d9 !important; }
  @media (max-width: 650px) {
    .c-kontakty-contact_name {
      padding: 1rem 0 0.2rem 0; } }
  @media (min-width: 651px) {
    .c-kontakty-contact_name {
      padding: 1.05rem 1.8rem 0.2rem 1.8rem;
      margin: 0; } }

.c-kontakty-contact_mail {
  color: #d9e8d9 !important; }
  @media (max-width: 650px) {
    .c-kontakty-contact_mail {
      padding: 0 0 1rem 0; } }
  @media (min-width: 651px) {
    .c-kontakty-contact_mail {
      padding: 0 1.8rem 1.3rem 1.8rem;
      margin: 0; } }

@media (min-width: 651px) {
  .c-kontakty_contactlogo p {
    padding: 0.65rem 1.8rem 0.4rem 1.8rem; }
  .c-kontakty_contactlogo .c-kontakty-contact_tel {
    padding: 1.05rem 1.8rem 0.25rem 1.8rem; }
  .c-kontakty_contactlogo .c-kontakty-contact_mail {
    padding: 0 1rem 1rem 1rem; } }

/* --- HEADER ---*/
.c-page_header {
  background-image: url("../img/pages/img-header.png");
  background-color: #69878c;
  color: #ffffff;
  display: flex;
  margin: 0; }
  @media (max-width: 1199px) {
    .c-page_header {
      flex-direction: column;
      background-size: 60rem;
      background-position: center top;
      background-repeat: no-repeat; } }
  @media (min-width: 1200px) {
    .c-page_header {
      flex-direction: row;
      justify-content: space-between;
      background-size: cover;
      background-position: center;
      padding: 0; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    .c-page_header {
      background-size: 80rem; } }
  @media (max-width: 960px) {
    .c-page_header {
      background-size: 90rem; } }
  @media (max-width: 300px) {
    .c-page_header {
      background-size: 100rem; } }
  @media (max-width: 259px) {
    .c-page_header {
      background-size: 110rem; } }

@media (min-width: 1200px) {
  .c-page-hdr_main {
    padding: 9.6rem 3rem 5rem 10.3rem;
    max-width: 45rem; } }
@media (max-width: 1199px) {
  .c-page-hdr_main {
    padding: 7rem 2rem 3rem 2rem; } }

.c-page-hdr_about {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 1199px) {
    .c-page-hdr_about {
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .c-page-hdr_about {
      padding: 7.55rem 5rem 3.1rem 5rem; } }
  @media (max-width: 425px) {
    .c-page-hdr_about {
      width: 100%;
      padding: 1rem; } }

.c-page-hdr-about_contact {
  background-color: rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem; }
  .c-page-hdr-about_contact p {
    padding: 0;
    margin: 0; }
  @media (max-width: 425px) {
    .c-page-hdr-about_contact {
      box-sizing: border-box;
      width: 100%;
      text-align: center; } }

.c-page-hdr_heading {
  text-transform: uppercase; }

.c-page-hdr_link {
  color: #ffffff;
  text-decoration: none; }

.c-page-hdr_link:hover {
  text-decoration: underline; }

.c-page-hdr_bold {
  font-family: "c-Titilium-bold", sans-serif; }

.c-page-hdr-about-contact_pad-bot {
  margin-bottom: 1rem; }

.c-page-hdr-about_partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }
  .c-page-hdr-about_partner p {
    padding-right: 1rem; }
  .c-page-hdr-about_partner img {
    height: 4rem; }

/* --- NAVIGATION ---*/
.c-page_nav {
  background-color: #ffffff;
  border-radius: 10px; }
  @media (min-width: 851px) {
    .c-page_nav {
      width: 50rem;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto; } }
  @media (max-width: 850px) {
    .c-page_nav {
      width: 100%;
      box-shadow: 0 5px 15px 0 #dddddd;
      padding: 1rem 0; } }

.c-page-nav_ul {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0;
  margin: 0; }
  @media (min-width: 851px) {
    .c-page-nav_ul {
      flex-direction: row;
      justify-content: space-evenly; } }
  @media (max-width: 850px) {
    .c-page-nav_ul {
      width: 100%;
      flex-direction: column;
      padding: 0; } }

.c-page-nav_li-main {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0; }
  @media (max-width: 850px) {
    .c-page-nav_li-main {
      width: 100%; } }

.c-page-nav_li {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0 1rem; }
  @media (max-width: 850px) {
    .c-page-nav_li {
      width: 100%;
      padding: 0; } }

.c-page-nav-li_name {
  font-size: 1.2rem; }

.c-page-nav-li_subname {
  font-size: 0.72rem; }

.c-page-nav-li_a {
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1.2rem 1rem; }

.c-page-nav-li_a:hover {
  background-color: rgba(3, 128, 0, 0.2); }

.c-page-nav-li_a-main {
  box-sizing: border-box;
  font-family: "c-Titilium-semibold", sans-serif;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  margin: 0; }

.c-page-nav-li_a-main:hover {
  background-color: rgba(3, 128, 0, 0.2); }

/* --- CONTENT --- */
.c-page {
  max-width: 44rem;
  margin: 7rem auto;
  padding: 0 2rem; }
  .c-page p {
    text-align: justify; }

.c-page-center {
  text-align: center; }

.c-page_img {
  box-sizing: border-box;
  height: auto; }
  @media (min-width: 781px) {
    .c-page_img {
      max-width: 44rem;
      padding: 3rem 4rem; } }
  @media (max-width: 780px) {
    .c-page_img {
      width: 100%;
      padding: 1rem 0; } }

.c-page_heading {
  color: #004c2e;
  text-transform: uppercase;
  margin-top: 4rem; }

.c-page_link {
  text-decoration: none;
  color: #000000; }

.c-page_link:hover {
  text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
