
.c-header{
  background-image: url("../img/header-img.png");
  background-color: $color-img-header;
  background-size: auto 100%;
  color: $color-white;
  @media (max-width: $mobile){  //mobile
    flex-direction: column;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-bottom: 0.5rem;
  }
}


/* --- LIFE SCIENCES --- */
.c-header_main{
  box-sizing: border-box;
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    width: auto;
    padding: 6.6rem 0 5rem 10.3rem;

  }
}

.c-header-main_heading{
  @include font-primary-semibold;
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    margin: 0 0 -0.5rem 0;
    font-size: 3rem;

  }
}

.c-header-main_subheading{
  @include font-primary-semibold;
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    font-size: 1.8rem;
    margin: 0 0 1.2rem 0;

  }
}

.c-header-main_logos{
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.1rem;

  }
}

.c-header-main_logo{
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    margin: 4rem 2rem 0 0;

  }
}
.c-header-main_logo-KIT{
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    height: 3rem;
    width: auto;

  }
}
.c-header-main_logo-CZU{
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    height: 3.5rem;
    width: auto;

  }
}


/* --- O PROJEKTU --- */
.c-header_about{
  box-sizing: border-box;
  background-color: $color-primary;
  //border-radius: 13% 0 0 19% / 86% 0 0 74%;
  //border-radius: 20% 0 0 11% / 100% 0 0 90%;
  border-radius: 10% 90% 0 100% / 100% 0 100% 0;
  /*background-image: url("../img/header-background.svg");
  background-repeat: no-repeat;
  background-position: left top;*/
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    padding: 4.55rem 5rem 2.1rem 5rem;
    width: 53.5rem;
    position: absolute;
    right: 0;
  }
}

.c-header-about_heading{
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    margin: 0;
    font-size: 1.3rem;

  }
}

.c-header-about_text{
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.7rem;

  }
}


