
.c-btn-primary{
  background-color: transparent;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.3rem 1.8rem 0.1rem 1.8rem;
  cursor: pointer;
}

.c-btn-primary:active{
  outline: none;
}
.c-btn-primary:focus{
  outline: none;
}
.c-btn-primary:hover{
  outline: none;
  background-color: $color-primary;
  color: $color-white;
}

.c-header_btn{
  border: none;
  background-color: $color-black;
  color: $color-white;
  padding: 0.4rem 0.6rem 0.3rem 0.6rem;
  cursor: pointer;
}
.c-header_btn:hover{
  background-color: transparentize($color-black, 0.5);
}

.c-btn-articles{
  padding: 0.3rem 0.4rem 0.1rem 0.4rem;
  margin-top: -0.2rem;
  margin-bottom: 0.4rem;
}