
.c-nav{
  background-color: $color-white;
  @include c-box-shadow-light;
  border-radius: 10px;
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    padding: 0;
    margin: auto;
    width: 45rem;
    position: relative;
    top: -1.7rem;
  }
}

.c-nav_ul{
  @media (max-width: $mobile){  //mobile
    flex-direction: column;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.c-nav_li{
  list-style-type: none;
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    padding: 1.2rem 0;

  }
}

.c-nav-li_a{
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  @media (max-width: $mobile){  //mobile

  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    width: 100%;
    padding: 1.2rem 2rem;
    font-size: 1.05rem;

  }
}

.c-nav-li_a:hover{
  background-color: transparentize($color-primary, 0.8);
}