
.c-nav{   //DO: CHECK OVERFLOW
  background-color: $color-white;
  @include c-box-shadow-light;
  padding: 0;
  @media (max-width: $mobile){  //mobile
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    border-radius: 10px;
    margin: auto;
    width: 45rem;
    position: relative;
    top: -1.7rem;
  }
}

.c-nav_ul{
  margin: 0;
  padding: 0;
  @media (max-width: $mobile){  //mobile
    flex-direction: column;
    text-align: center;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.c-nav_li{
  list-style-type: none;
  @media (max-width: $mobile){  //mobile
    width: 100%;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    padding: 1.2rem 0;
  }
}

.c-nav-li_a{
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  width: 100%;
  @media (max-width: $mobile){  //mobile
    padding: 1rem;
    margin: 0;
    display: inline-block;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    padding: 1.2rem 2rem;
    font-size: 1.05rem;
  }
}

.c-nav-li_a:hover{
  background-color: transparentize($color-primary, 0.8);
}