
.c-section_nabizime{
  button{
    margin-top: 2rem;
  }
}

.c-section-nabizime_boxes{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.c-section-nabizime_box{
  @include c-box-shadow;
  background-color: $color-white;
  max-width: 27rem;
  margin: 2rem 2rem 2.5rem 2rem;
}

.c-section-nabizime-box_heading{
  box-sizing: border-box;
  width: 100%;
  height: 12.5rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
  padding: 4rem;
}

.c-section-nabizime-box_heading1{
  background-image: url("../img/articles/img-wire.png");
}

.c-section-nabizime-box_heading2{
  background-image: url("../img/articles/img-wire2.png");
}

.c-section-nabizime-box_heading-heading{
  color: $color-white;
  text-transform: uppercase;
  @include font-primary;
}


.c-section-nabizime-box_img{
  margin-bottom: 0.5rem;
  height: 3rem;
}

.c-section-nabizime-box_text{
  padding: 1.5rem 3rem;
  margin: 0;
}

