
.c-header{
  background-image: url("../img/header-img.png");
  background-color: $color-img-header;
  color: $color-white;
  display: flex;
  margin: 0;
  @media (max-width: $header-small){
    flex-direction: column;
    background-size: 60rem;
    background-position: center top;
    background-repeat: no-repeat;
  }
  @media (min-width: $header-big){
    flex-direction: row;
    //background-size: auto 100%;
    background-size: cover;
    background-position: center;
    //padding-bottom: 0.5rem;
    padding: 0;
  }

  @media (min-width: 960px) and (max-width: $header-small){
    background-size: 80rem;
  }
  @media (min-width: $about-mm+1px) and (max-width: $about-medium){
    padding-bottom: 3rem;
  }
  @media (min-width: $about-mmm+1px) and (max-width: $about-mm){
    padding-bottom: 4.5rem;
  }
  @media (min-width: $header-big) and (max-width: $about-mmm){
    padding-bottom: 6rem;
  }

  @media (max-width: 370px){
    background-size: 90rem;
  }
  @media (max-width: 280px){
    background-size: 100rem;
  }
  @media (max-width: 259px){
    background-size: 110rem;
  }
}


/* --- LIFE SCIENCES --- */
.c-header_main{
  box-sizing: border-box;
  @media (max-width: $header-small){
    text-align: center;
    margin: 2rem 1rem;
  }
  @media (min-width: $header-big){
    width: auto;
    padding: 6.6rem 0 5rem 10.3rem;
  }
}

.c-header-main_heading{
  @include font-primary-semibold;
  @media (max-width: $header-small){  //mobile
    font-size: 3rem;
    margin: 0;
  }
  @media (min-width: $header-big){
    margin: 0 0 -0.5rem 0;
    font-size: 3rem;
  }
}

$margin-header-inside: 1.2rem;

.c-header-main_subheading{
  @include font-primary-semibold;
  margin: 0 0 $margin-header-inside 0;
  @media (max-width: $header-small){
    font-size: 1.8rem;
  }
  @media (min-width: $header-big){
    font-size: 1.8rem;
  }
}

.c-header-main_logos{
  @media (min-width: $header-big){
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.1rem;
  }
}

.c-header-main_logo{
  @media (max-width: $header-small){
    margin: $margin-header-inside;
  }
  @media (min-width: $header-big){
    margin: 4rem 2rem 0 0;
  }
}

.c-header-main_logo-KIT{
  height: 3rem;
  width: auto;
}

.c-header-main_logo-CZU{
  height: 3.5rem;
  width: auto;
}


/* --- O PROJEKTU --- */
.c-header_about{
  box-sizing: border-box;
  background-color: $color-primary;
  @media (max-width: $header-small){
    padding: 2rem;
  }
  @media (min-width: $header-big){
    padding: 4.55rem 5rem 3.1rem 5rem;
    width: 53.5rem;
    position: absolute;
    right: 0;
    border-radius: 25% 0 0 25% / 100% 0 0 100% ;
    //border-radius: 10% 90% 0 100% / 100% 0 100% 0;
    /*background-image: url("../img/header-background.svg");
    background-repeat: no-repeat;
    background-position: left top;*/
  }
  @media (min-width: $header-big) and (max-width: $about-medium){
    max-width: 50%;
  }
  @media (min-width: $nav-medium+1px) and (max-width: $header-small){
    padding-bottom: 5rem;
  }
}

.c-header-about_heading{
  margin: 0;
  font-size: 1.3rem;
}

.c-header-about_text{
  line-height: 1.6;
  @media (max-width: $header-small){
    margin-bottom: 0;
  }
  @media (min-width: $header-big){
    text-align: left;
    font-size: 1rem;
    margin-top: 0.7rem;
  }
}

.c-header_link{
  color: $color-white;
}
.c-header_link:hover{
  color: transparentize($color-white, 0.5);
}


