

.c-content_section{
  border-bottom: 1px solid $color-border-line;
  width: 100%;
  text-align: center;
  padding: 3rem 0 7rem 0;
}

.c-content_heading{
  border: 1px solid $color-border-line;
  background-color: $color-white;
  border-radius: 50px;
  padding: 0.5rem 3rem;
  margin: 0;
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -4.5rem;
}

.c-content_heading-first{
    padding: 0 3rem 0.5rem 3rem;
    margin: 0;
    display: inline-block;
    font-size: 1.2rem;
}


.c-content_subheading{
  margin: 0;
  padding: 0;
}

.c-content_gallery{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.c-content_size{
  max-width: $max-content-size;
  margin: auto;
}