
.c-btn-primary{
  background-color: transparent;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.c-btn-primary:active{
  outline: none;
}
.c-btn-primary:focus{
  outline: none;
}
.c-btn-primary:hover{
  outline: none;
  background-color: $color-primary;
  color: $color-white;
}

.c-header_btn{
  border: none;
  background-color: $color-black;
  color: $color-white;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
.c-header_btn:hover{
  background-color: transparentize($color-black, 0.5);
}