
.c-clanky_articles{
  display: flex;
  @media (max-width: $mobile){  //mobile
    flex-direction: column;
    width: 100%;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    width: 83rem;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto 0 auto;
  }
  @media (min-width: $mobile+1px) and (max-width: 1330px){
    flex-direction: column;
    width: auto;
  }
}

.c-clanky_article{
  display: flex;
  flex-direction: column;
  @media (max-width: $mobile){  //mobile
    margin: 0 0 2rem 0;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    max-width: $max-content-size;
    text-align: left;
    margin: 0 1.4rem;
  }
}

.c-clanky-article_heading{
  background-color: $color-black;
  color: $color-white;
  @include font-primary-semibold;
  font-size: 0.75rem;
  @media (max-width: $mobile){  //mobile
    padding: 0;
    margin: 0;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    margin: 0 auto 0 0;
    padding: 0.3rem 0.6rem;
    position: relative;
    top: 1rem;
    left: -0.4rem;
  }
}

.c-clanky-article_content{
  border: 1px solid $color-border-line;
  background-color: $color-light;
  @media (max-width: $mobile){  //mobile
    padding: 0;
    margin: 0;
    border: none;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    display: flex;
    flex-direction: row;
    width: 29.5rem;
    margin-bottom: 4rem;
  }
}
.c-clanky-article_img-container{
  @media (max-width: $mobile){  //mobile
    height: 8rem;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
  }
}

.c-clanky-article_img{
  @media (max-width: $mobile){  //mobile
    width: 100%;
    height: 8rem;
    object-fit: cover;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    height: 8.5rem;
  }
}

.c-clanky-article-content_text{
  line-height: 1.39;
  font-size: 0.8rem;
  @media (max-width: $mobile){  //mobile
    padding: 1rem;
    margin: 0;
    border: 1px solid $color-border-line;
    border-top: none;
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
    padding: 1.1rem 1rem 0 1rem;
    margin: 0;
  }
}

.c-clanky-article-text_link{  //DO: SPACE BEFORE "číst dále"
  color: $color-black;
  text-decoration: underline;
  font-weight: bold;
  @media (max-width: $mobile){  //mobile
  }
  @media (min-width: $mobile+1px){  //tablet + desktop + wide
  }
}