
.c-nav{
  padding: 0;
  margin: auto;
  background-color: $color-white;
  @include c-box-shadow-light;
  border-radius: 10px;
  width: 45rem;
  position: relative;
  top: -1.7rem;
}

.c-nav_ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-nav_li{
  list-style-type: none;
  padding: 1.2rem 0;
}

.c-nav-li_a{
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.05rem;
}

.c-nav-li_a:hover{
  background-color: transparentize($color-primary, 0.8);
}