
/* COLORS */
$color-primary: #038000;
$color-black: #000000;
$color-white: #ffffff;
$color-light: #F9F9F9;
$color-green-dark: #026400;
$color-yellow: #fdab29;
$color-img-header: #69878c;

$color-shadow: #bababa;
$color-shadow-lighter: #dddddd;

$color-border-line: #ececec;

$color-akce-bcg: #060606;
$color-akce-line: #363636;

$color-contacts-text: #d9e8d9;


/* FONTS */
$font-primary: "Titillium Web", sans-serif;
$font-primary-semibold: "Titillium Web Semibold", sans-serif;
$font-primary-bold: "Titillium Web Bold", sans-serif;
$font-primary-thin: "Titillium Web Light", sans-serif;

@mixin font-primary{
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

@mixin font-primary-semibold{
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
}

@mixin font-primary-bold{
  font-family: "Titillium Web Bold", sans-serif;
  font-weight: 700;
}

@mixin font-primary-thin{
  font-family: "Titillium Web Light", sans-serif;
  font-weight: 200;
}



/* SCREEN SIZE */
$mobile:  650px;
$tablet:  1024px;
$desktop: 1320px;
$wide:    1400px;

$tiny: 300px;

$header-small: 1199px;
$header-big: 1200px;
$about-medium: 1450px;
$nav-medium: 800px;

$about-mm: 1376px;
$about-mmm: 1277px;

/* OTHER */
$max-content-size: 65rem;


/* CODE */
body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

@mixin c-box-shadow{
  box-shadow: 0 0 15px 0 $color-shadow;
}

@mixin c-box-shadow-light{
  box-shadow: 0 5px 15px 0 $color-shadow-lighter;
}