
/* --- HEADER ---*/

.c-page_header{
  background-image: url("../img/pages/img-header.png");
  background-color: $color-img-header;
  color: $color-white;
  display: flex;
  margin: 0;
  @media (max-width: $header-small){
    flex-direction: column;
    background-size: 60rem;
    background-position: center top;
    background-repeat: no-repeat;
  }
  @media (min-width: $header-big){
    flex-direction: row;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  @media (min-width: 960px) and (max-width: $header-small){
    background-size: 80rem;
  }
  @media (max-width: 960px){
    background-size: 90rem;
  }
  @media (max-width: 300px){
    background-size: 100rem;
  }
  @media (max-width: 259px){
    background-size: 110rem;
  }
}

.c-page-hdr_main{
  @media (min-width: $header-big){
    padding: 9.6rem 3rem 5rem 10.3rem;
    max-width: 45rem;
  }
  @media (max-width: $header-small){
    padding: 7rem 2rem 3rem 2rem;
  }
}

.c-page-hdr_about{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $header-small){
    padding: 2rem;
  }
  @media (min-width: $header-big){
    padding: 7.55rem 5rem 3.1rem 5rem;
  }
  @media (max-width: $page-header-small){
    width: 100%;
    padding: 1rem;
  }
}

.c-page-hdr-about_contact{
  background-color: transparentize($color-black, 0.84);
  padding: 1rem 1.5rem;
  p{
    padding: 0;
    margin: 0;
  }
  @media (max-width: $page-header-small){
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
}

.c-page-hdr_heading{
  text-transform: uppercase;
}

.c-page-hdr_link{
  color: $color-white;
  text-decoration: none;
}
.c-page-hdr_link:hover{
  text-decoration: underline;
}

.c-page-hdr_bold{
  font-family: $font-primary-bold;
}

.c-page-hdr-about-contact_pad-bot{
  margin-bottom: 1rem;
}

.c-page-hdr-about_partner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  p{
    padding-right: 1rem;
  }
  img{
    height: 4rem;
  }
}



/* --- NAVIGATION ---*/

.c-page_nav{
  background-color: $color-white;
  border-radius: 10px;
  @media (min-width: $page-nav-small+1px){
    width: 50rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  @media (max-width: $page-nav-small){
    width: 100%;
    @include c-box-shadow-light;
    padding: 1rem 0;
  }
}

.c-page-nav_ul{
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0;
  margin: 0;
  @media (min-width: $page-nav-small+1px){
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (max-width: $page-nav-small){
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
}

.c-page-nav_li-main{
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  @media (max-width: $page-nav-small){
    width: 100%;
  }
}

.c-page-nav_li {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
  @media (max-width: $page-nav-small){
    width: 100%;
    padding: 0;
  }
}

.c-page-nav-li_name{
  font-size: 1.2rem;
}

.c-page-nav-li_subname{
  font-size: 0.72rem;
}

.c-page-nav-li_a{
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1.2rem 1rem;
}

.c-page-nav-li_a:hover{
  background-color: transparentize($color-primary, 0.8);
}

.c-page-nav-li_a-main{
  box-sizing: border-box;
  font-family: $font-primary-semibold;
  text-decoration: none;
  color: $color-black;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
}

.c-page-nav-li_a-main:hover{
  background-color: transparentize($color-primary, 0.8);
}



/* --- CONTENT --- */

$page-max-width: 44rem;

.c-page{
  max-width: $page-max-width;
  margin: 7rem auto;
  padding: 0 2rem;
  p{
    text-align: justify;
  }
}

.c-page-center{
  text-align: center;
}

.c-page_img{
  box-sizing: border-box;
  height: auto;
  @media (min-width: $page-content-small+1px){
    max-width: $page-max-width;
    padding: 3rem 4rem;
  }
  @media (max-width: $page-content-small){
    width: 100%;
    padding: 1rem 0;
  }
}

.c-page_heading{
  color: $color-page-heading;
  text-transform: uppercase;
  margin-top: 4rem;
}

.c-page_link{
  text-decoration: none;
  color: $color-black;
}
.c-page_link:hover{
  text-decoration: underline;
}