
/* COLORS */
$color-primary: #038000;
$color-black: #000000;
$color-white: #ffffff;
$color-light: #F9F9F9;
$color-green-dark: #004c2e;
$color-green-darker: #003b24;
$color-yellow: #fdab29;
$color-img-header: #69878c;

$color-shadow: rgba(145,145,145,1);
$color-border-line: gray; //#f3f3f4;


/* FONTS */
$font-primary: "Titillium Web", sans-serif;
$font-primary-semibold: "Titillium Web Semibold", sans-serif;
$font-primary-bold: "Titillium Web Bold", sans-serif;
$font-primary-thin: "Titillium Web Light", sans-serif;

@mixin font-primary{
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

@mixin font-primary-semibold{
  font-family: "Titillium Web Semibold", sans-serif;
  font-weight: 500;
}

@mixin font-primary-bold{
  font-family: "Titillium Web Bold", sans-serif;
  font-weight: 700;
}

@mixin font-primary-thin{
  font-family: "Titillium Web Light", sans-serif;
  font-weight: 200;
}



/* SCREEN SIZE */
$mobile:  650px;
$tablet:  1024px;
$desktop: 1320px;
$wide:    1400px;


/* OTHER */
$max-content-size: 55rem;


/* CODE */
body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

@mixin c-box-shadow{
  box-shadow: 0 0 15px 0 $color-shadow;
}