
.c-section-clanky_articles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 83rem;
  margin: 1rem auto 0 auto;
}

.c-section-clanky_article{
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: $max-content-size;
  margin: 0 1.4rem;
}

.c-section-clanky-article_heading{
  background-color: $color-black;
  color: $color-white;
  margin: 0 auto 0 0;
  padding: 0.3rem 0.6rem;
  @include font-primary-semibold;
  position: relative;
  top: 1rem;
  left: -0.4rem;
  font-size: 0.75rem;
}

.c-section-clanky-article_text{
  border: 1px solid $color-border-line;
  display: flex;
  flex-direction: row;
  background-color: $color-light;
  margin-bottom: 4rem;
  width: 29.5rem;
}

.c-section-clanky-article_img{
  height: 8.5rem;
}

.c-section-clanky-article-text_text{
  padding: 1.1rem 1rem 0 1rem;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.39;
}

.c-section-clanky-article-text_link{
  color: $color-black;
  text-decoration: underline;
  font-weight: bold;
}